body {
    background-color: #2a363b;
}

a {
    font-size: 22px;
    color: white !important;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/*navbar css*/

.navbar img {
    width: 65px;
}

.navbar {
    background-color: transparent;
}

.nav-container {
    width: 100%;
    position: fixed;
    letter-spacing: 0.025em;     
}

.ml-auto {
    margin-left: auto !important;
}

/*navbar css end*/

/*content css*/

.content-container{
    padding-top: 280px;
    padding-bottom: 310px;
}

.jumbotron {
    color: white;
    background-color: #2a363b;
}

.jumbotron-container {
    padding-top: 150px;
}

.lead {
    font-size: 30px;
}

/*content css end*/

/*section css*/

.section {
    padding: 0 20%;
}

.section h1 {
    padding-bottom: 30px;
}

hr {
    background-color: white;
    width: 80%;
}

.section img {
    width: 35%;
}

.about {
    margin-bottom: 250px;
}

/*section css end*/

/*card css*/

.card-group {
    padding: 0 10%;
    margin-top: 250px;
}

.card {
    background-color: #2a363b;
    color: white;
    border: none;
    position: static;
}

.mb-3 {
    padding: 250px 10% 270px 10%;    
}

.mb-3 .card-title {
    font-size: 40px;
}

.mb-3 .card-text {
    font-size: 25px;
    font-style: italic;
}

/*card css end*/

/*footer css*/

footer {
    color: white;
    margin-top: 150px;    
}

footer h1 {
    margin-top: 60px;
}

.copyright {
    margin-top: 30px;
    font-size: 14px;
}

button {
    margin-top: 20px;
}

/*footer css end*/

/*table css*/

tr {
    color: white;
}

table {
    text-align: center !important;
    font-size: 20px;
}

.table-container {
    padding: 0 30%;
}

.colored {
    background-color: white;
    color: #2a363b;
}

/*table css end*/